@CHARSET "UTF-8";
html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#appCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}
footer nav {
    position: fixed;
    bottom: 25px;
    left: 10px;
    width: 100%;
    color: white;
    font-weight: bold;
    overflow: hidden;
}
footer nav .colorPicker {
    width: 150px;
}
footer nav ul {
    list-style-type: none;
    list-style-position: outside;
    padding: 0px;
}
nav li {
    float: left;
    margin-right: 10px;
}
input {
    vertical-align: middle;
}